/* @import "~bootstrap/dist/css/bootstrap.css"; */

.background{
    background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('/assets/images/header-background.jpg') center center no-repeat;
    background-size: cover;
    padding: 100px;
    height: 100%;
    


}
img{
    width: 100%;
}
@media only screen and (max-width: 600px) {
.background{
    padding: 30px 0px 30px 0px;
    height: 100%;
    }
  }
.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #00c9db;
	border-radius: 2rem;
	background-color: #00c9db;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00c9db;
	text-decoration: none;
}

.p-large {
	color: #f1f1f8;
    font: 400 1rem/1.5rem "Open Sans", sans-serif;
    text-align: center;
}

h1 {
	color: #f1f1f8;
    font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
    text-align: center;
}




.main {
    background-color: #FFFFFF;
    width: 400px;
    height: auto;
    /* margin: 2.5em auto; */
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        
        width: 350px;
    }
    
}

mat-tab-label {
   
    color: #f1f1f8;
    font-weight: 700;
    background-color: red !important;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
   
    color: #f1f1f8;
    font-weight: 700;
    background-color: red !important;
    /* border-radius: em; */
    
}