

<div class="fluid-container background">
    <div class="container">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            
                <div fxLayout="column" fxFlex="50%" class="text-container" fxLayoutAlign="center center">
                    <div class="image-logo">
                        <img class="img-logo" width="100" src="assets/images/logoo.png" alt="alternative">
                    </div>
                    <h1>COVID-19 ODISHA</h1>
                    <p  class="p-large">#Stayhome #Staysafe</p>
                    <button class="btn-solid-lg page-scroll"   (click)="downloadFile()">DOWNLOAD</button>
                    <!-- <p>The button has been clicked {{counter}} times.</p> -->
                    <!-- <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-google-play"></i>DOWNLOAD</a> -->
                </div>
                <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
                    <div class="image-container " >
                        <img width="600" class="img-fluid" src="assets/images/1.png" alt="alternative">
                    </div>
                
            </div>
            
        </div>
    </div>
</div>