
<div class="fluid-container background">
    <div class="container">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">

            <div fxLayout="column" fxFlex="50%" class="text-container" fxLayoutAlign="center center">
                <div class="image-logo">
                    <img class="img-logo" width="500" src="assets/images/about-extra-1.svg" alt="alternative">
                </div>
                <!-- <h1>COVID-19 ODISHA</h1>
                    <p  class="p-large">#Stayhome #Staysafe</p>
                    <button class="btn-solid-lg page-scroll"   [routerLink]="['/sign-in']" >DOWNLOAD</button> -->
                <!-- <p>The button has been clicked {{counter}} times.</p> -->
                <!-- <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-google-play"></i>DOWNLOAD</a> -->
            </div>
            <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
               

                    <div fxLayout="column" class="main">
                        <p class="sign" fxLayoutAlign="center start">Welcome</p>
                        <form class="form1">
                            <input class="un " type="text" fxLayoutAlign="center start" placeholder="Name">
                            <input class="un " type="text" fxLayoutAlign="center start" placeholder="Email">
                            <input class="un " type="text" fxLayoutAlign="center start" placeholder="Number">
                            
                            <input class="pass" type="password" fxLayoutAlign="center start" placeholder="Password">
                            <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10%" >
                                <button class="submit" [routerLink]="['/login']" >Sign in</button>
                                <button class="submit" [routerLink]="['/home']" >Login</button>
                            </div>
                            
                            <p class="forgot" fxLayoutAlign="center start">Forgot Password?</p>
                        </form>

                    </div>

                </div>


        </div>
    </div>
</div>