.background {
	padding-top: 6.375rem;
	padding-bottom: 6.875rem;
	/* background: url("/assets/images/contact-background.jpg") center center no-repeat;
	background-size: cover; */
	background-color: #2f2c3d;
}
@media only screen and (max-width: 600px) {
	.background{
		padding: 30px 0px 30px 0px;
		}
	  }

h2 {
	margin-bottom: 1.125rem;
	text-align: center;

	color: #f1f1f8;
	font: 700 2.25rem/2.75rem "Montserrat", sans-serif;
}

.p-heading {
	margin-bottom: 4rem;
	text-align: center;

	color: #f1f1f8;
	font: 400 1rem/1.5rem "Open Sans", sans-serif;
}

.video {
	border-radius: 2%;
}
