<div class="fluid-container background">
    <div class="container">
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" fxLayoutGap.xs="10px">
            <h2>PREVIEW</h2>
            <div class="p-heading p-large">"COVID-19 Odisha - A Mobile App” dedicated to people of Odisha and India.</div>
            <div class="container mt-1">

                <iframe class="container video" [src]="safeSrc" width="560" height="415" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>