<div class="fluid-container background">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>FEATURES</h2>
  <div class="p-heading p-large">The features of the COVID -19 Odisha App is:</div>

  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">
      <div class="container tab" fxLayoutAlign="center center">
        <div fxLayout="column"  fxLayoutAlign="center center">
          <div class="image-container " >
              <img width="600" class="img-fluid" src="assets/images/1.png" alt="alternative">
          </div>
      
  </div>
      </div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="container tab" fxLayoutAlign="center center">
        <div fxLayout="column"  fxLayoutAlign="center center">
          <div class="image-container " >
              <img width="600" class="img-fluid" src="assets/images/2.png" alt="alternative">
          </div>
      
  </div>
      </div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="container tab"fxLayoutAlign="center center">
        <div fxLayout="column"  fxLayoutAlign="center center">
          <div class="image-container " >
              <img width="600" class="img-fluid" src="assets/images/3.png" alt="alternative">
          </div>
      
  </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

